<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./layouts/nav') %>
</head>
<body>
    <br>
    <h1 style="text-align: center;" class="trazo">Cartas de los usuarios!</h1>
    <div class="contenido-center">
        <% carta.forEach(e => { %>
            <div class="box">
                <article class="media birthday">
                    <div class="media-left">
                        <% if(e.avatar) { %>
                            <object style="height: 64px; width: 64px;" class="image" :data="https://cdn.discordapp.com/avatars/<%= e.userID %>/<%= e.avatar %>">
                                <img src="https://cdn.discordapp.com/avatars/<%= e.userID %>/<%= e.avatar %>"/>
                            </object>
                        <% } else { %>
                            <object style="height: 64px; width: 64px;" class="image" :data="https://cdn.discordapp.com/embed/avatars/0.png">
                                <img src="https://cdn.discordapp.com/embed/avatars/0.png"/>
                            </object>
                        <% } %>
                    </div>
                    <div class="media-content">
                        <div class="content">
                            <p>
                                <strong class="trazo"><a href="/user/<%= e.userID %>" style="text-decoration: none;"><%= e.username %></a></strong>
                                <br />
                                <%= e.mensaje %>
                            </p>
                        </div>
                    </div>
                </article>
            </div>
        <% }) %>
    </div>
    <% if (user) { %>
        <h3 style="text-align: center;" class="trazo"><a href="/crear">Crea tu carta</a></h3>
    <% } %>
</body>
</html>