<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./layouts/nav') %>
</head>
<body style="text-align: center;">
    <h1 class="trazo">Conoce a nuevas personas!</h1>
    <div class="card-group">
        <% userA.forEach(e => { %>
            <div class="card">
                <% if(e.avatar) { %>
                    <img src="https://cdn.discordapp.com/avatars/<%= e.discordId %>/<%= e.avatar %>" height="180"/>
                <% } else { %>
                    <img src="https://cdn.discordapp.com/embed/avatars/0.png" height="180"/>
                <% } %>
                <div class="card-body">
                    <h5 class="card-title"><a href="/user/<%= e.discordId %>"><%= e.username %></a></h5>
                    <% if(e.descripcion) { %>
                        <p class="trazo"><%= e.descripcion %></p>
                    <% } %>
                </div>
            </div>
        <% }) %>
    </div>
</body>
</html>